<?xml version="1.0" ?>
<Template>
  <AimDirection type="float" default="0" description="" />
  <DebugShotTimeLength type="float" default="2" description="" />
  <FirstSpeed type="float" default="17" description="" />
  <GroundOffset type="float" default="0" description="" />
  <IsBreak type="bool" default="false" description="" />
  <IsCastShadow type="bool" default="false" description="" />
  <IsChangeCameraWhenPathChange type="bool" default="false" description="" />
  <IsHomingAttackEnable type="bool" default="false" description="" />
  <IsPathChange type="bool" default="false" description="" />
  <IsSideSet type="bool" default="true" description="" />
  <IsStartVelocityConstant type="bool" default="true" description="" />
  <IsWallWalk type="bool" default="false" description="" />
  <IsYawUpdate type="bool" default="false" description="" />
  <KeepVelocityDistance type="float" default="0" description="" />
  <MotionType type="float" default="3" description="" />
  <OutOfControl type="float" default="0.25" description="" />
  <Range type="float" default="30" description="" />
  <TreasureSearchHideType type="float" default="0" description="" />
  <m_IsConstantFrame type="bool" default="false" description="" />
  <m_IsConstantPosition type="bool" default="true" description="" />
  <m_IsMonkeyHunting type="bool" default="false" description="" />
  <m_IsStopBoost type="bool" default="false" description="" />
  <m_IsTo3D type="bool" default="false" description="" />
  <m_MonkeyTarget type="vector" description="" />
  <Extra type="model" name="cmn_obj_c_springY_HD.model" />
</Template>
